body {
  overflow: hidden;
}
.inner {
  min-width: fit-content;
}

/* table style*/
.tableContainer {
  min-width: 500px;
  overflow-x: scroll;
}
.tableRowHeding,
.tableRowItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tableRowHeding {
  height: 40px;
  background-color: #ddd;
  padding-right: 1rem;
}
.tableRowItem {
  border-bottom: 1px solid #ddd;
}
.cell {
  width: 160px;
  max-width: 160px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-transform: capitalize;
  text-align: center;
}

/*nav style*/
.nav {
  height: 60px;
}
.nav-cont {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
}

/* error messages style*/
.inputErrorMassage,
.inputErrorMassage:focus {
  border-color: rgb(224, 0, 0) !important;
}

/* modal - override react boostrap style*/
.modal-backdrop.show {
  width: 100% !important;
}
.modal {
  max-width: 100vw;
}
