body {
  overflow: hidden;
}
.inner {
  min-width: fit-content;
}
.tableRowHeding,
.tableRowItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tableRowHeding {
  height: 40px;
  background-color: #ddd;
}
.tableRowItem {
  border-bottom: 1px solid #ddd;
}
.cell {
  padding: 1rem;
  min-width: fit-content;
}
